<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Map Soluciones</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><%= image_tag("map.svg", :alt => "Brand", :width => 120) %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" style=" margin-top: 20px; ">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li>
                        <a class="page-scroll" href="#page-top" data-no-turbolink>Inicio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#servicios">Servicios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#productos">Productos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#nosotros">Nosotros</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contacto">Contacto</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
       <div class="bg">
        <div class="container">
    <a class="logo-inicio"><%= image_tag("map-white.svg", :width => 240, :class => 'img') %></a>
   <h2>Ideas para el <br /> crecimiento de su empresa</h2>
   <h3>Trabajamos para mejorar el servicio a nuestros clientes</h3>
</div>
</div>
    </section>

    <!-- About Section -->
    <section id="servicios" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>NUESTROS SERVICIOS</h6>
                    <div class="center">
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag("icon.png", :alt => "Brand") %>
      <div class="caption">
        <h7>Diseño y Matenimiento Web</h7>
        <p>Lorem ipsum dolor sit amet,  consectetur adipiscing elit.  Mauris nec ipsum at lacus  commodo susci</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag("search.png", :alt => "Brand") %>
      <div class="caption">
        <h7>Mantenimiento Preventivo</h7>
        <p>Lorem ipsum dolor sit amet,  consectetur adipiscing elit.  Mauris nec ipsum at lacus  commodo susci</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag("cart.png", :alt => "Brand") %>
      <div class="caption">
        <h7>Venta de Hardware</h7>
        <p>Lorem ipsum dolor sit amet,  consectetur adipiscing elit.  Mauris nec ipsum at lacus  commodo susci</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag("like.png", :alt => "Brand") %>
      <div class="caption">
        <h7>Asesoría y Venta de Redes</h7>
        <p>Lorem ipsum dolor sit amet,  consectetur adipiscing elit.  Mauris nec ipsum at lacus  commodo susci</p>
      </div>
    </div>
  </div>
</div>
</div>
                    <a class="btn btn-default page-scroll" href="/pages/servicios">Ver nuestros servicios</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="productos" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>NUESTROS PRODUCTOS</h6>
                     <div class="center">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("image002.png", :alt => "Brand") %>
      <div class="caption">
        <h7>Epson Expression XP-211</h7>
        <p>Impresora multifunción – color  – chorro de tinta <br>
•        Letter A (216 x 279 mm)/A4 (210 x 297 mm)<br>
•        216 x 1117 mm (material) <br>        
•        hasta 12 ppm (copiando)<br>
•        hasta 26 ppm (impresión)<br>
•        50 hojas<br>
•        USB 2.0, Wi-Fi(n)</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("image013.png", :alt => "Brand") %>
      <div class="caption">
        <h7>Lenovo ThinkPad T440p 20AN</h7>
        <p>Core i5 4200M / 2.5 GHz - Microsoft Windows 7 Pro 64-bit / retroceso a 8 Pro 64-bit Edition<br>
        •        preinstalado: Windows 7<br>
•        4 GB RAM<br>
•        500 GB HDD<br>
•        Intel HD Graphics 4600<br>
•        actualizable 3G/4G<br></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("image014.png", :alt => "Brand") %>
      <div class="caption">
        <h7>HP ProLiant ML310e</h7>
        <p>Generation 8 (Gen8) v2 SATA<br>
          · Intel Quad Core Xeon<br>
·         Memoria 8 GB DDR3 Unbuffered<br>
·         Tarjeta de Red (1) HP Ethernet 1Gb<br>
·         Disco Duro 2TB / Max 16 TB (4 x 4TB)<br>
·         GarantÍa 3-year Next Day Parts replacement, 3-year labor, 3-Year Onsite support</p>
      </div>
    </div>
  </div>
</div>
</div>
                    <a class="btn btn-default page-scroll" href="/listings">Ver mas productos</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="nosotros" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>NUESTRAS MARCAS</h6>
                    <h8>Lorem ipsum dolor sit amet,  consectetur adipiscing elit.  Mauris nec ipsum at lacus  commodo susci</h8> </br></br></br>
                     <div class="center">
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag("client1.png", :alt => "Brand") %>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag("client2.png", :alt => "Brand") %>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag("client3.png", :alt => "Brand") %>
    </div>
  </div>
   <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag("client4.png", :alt => "Brand") %>
    </div>
  </div>
</div>
</div>
<hr></hr>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section -->
    <section id="contacto" class="contacto-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>CONTACTO</h6>
                    <div class="center">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="tombnail">
      <%= image_tag("phone.png", :alt => "Brand") %>
      <div class="caption">
        <h10></br>+506 2228-0000</h10>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="tombnail">
      <%= image_tag("phone2.png", :alt => "Brand") %>
      <div class="caption">
        <h10></br>+506 2228-0000</h10>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="tombnail">
      <%= image_tag("mail.png", :alt => "Brand") %>
      <div class="caption">
        <h10></br><a href="mailto:info@mapsoluciones.com?Subject=Contacto%20MapSoluciones" target="_top">info@mapsoluciones.com</a>
</p></h10>
      </div>
    </div>
  </div>
</div>
</div>
                    <a class="btn btn-default page-scroll" href="/pages/contacto">Enviarnos un mensaje</a>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="javascripts/jquery.easing.min.js"></script>
    <script src="javascripts/scrolling-nav.js"></script>

</body>

</html>
